header {
  /* border:  1px solid red; */
  display: flex;

  font-family: Verdana;
  font-size:   14px;
  font-weight: bold;

  top: 0;
  left: 0;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid black;
}

header img {
  /* border:  1px solid blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30px;
}

header #title {
  /* border:    1px solid green; */
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  color:  MediumAquamarine;
}

header nav {
  /* border:  1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-left:  10px;
  width: 200px;
}

header nav a {
  display: inline-block;
  padding: 0 5px;
}



/* content's styles */

#maincontainer {
  display: flex;
  justify-content: center;

  font-family: Georgia;
  font-size: 17px;
  color: black;
}


#container {
  /* border:  1px solid red; */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding-top:   40px;
  padding-right: 40px;
  margin-bottom: 80px;

  position: relative;
  top: 53px;
}

.column.large {
  /* border:  1px solid blue; */
  display: inline-flex;
  flex-flow: row wrap;
  width: 630px;
}

.column.medium {
  /* border:  1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 300px;
}

.column.small {
  /* border:  1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 240px;
}

.imgtxt {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#mainstory {
  font-size: 40px;
}

.mother3 {
  display: flex;
  background-image: url("./img/img-story-main.png");
  background-size: cover;
  height: 300px;
  align-items: center;
  padding-left: 30px;
}

.cats {
  display: flex;
  background-image: url("./img/img-story-1.png");
  background-size: cover;
  height: 300px;
  align-items: center;
  text-align: center;
}

.earth17 {
  display: flex;
  background-image: url("./img/img-story-2.png");
  background-size: cover;
  height: 300px;
  align-items: center;
}

.camera {
  display: flex;
  background-image: url("./img/img-story-3.png");
  background-size: cover;
  height: 300px;
  align-items: center;
}

.earth17 span, .camera span {
  text-align: center;
}

.orca, .burger {
  width: 48%;
}

.orca {
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#newsbites {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style-type: none;
  margin: 0;
  padding: 0 5px;
}

#newsbites li {
  padding: 15px 10px;
  border-bottom: 1px solid black;
}

.column.small h2{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 200px;
}

.ftitle {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 10px;
}

.firstline a {
  padding: 0 10px;
}
