header {
  /* border:  1px solid red; */
  display: flex;

  font-family: Verdana;
  font-size:   14px;
  font-weight: bold;

  top: 0;
  left: 0;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 5;
}

header img {
  /* border:  1px solid blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30px;
}

header #title {
  /* border:    1px solid green; */
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  color:  MediumAquamarine;

}

header nav {
  /* border:  1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-left:  10px;
  width: 200px;
}

header nav a {
  display: inline-block;
  padding: 0 5px;
}


#container {
  position: relative;
  top: 80px;

}
