header {
  /* border:  1px solid red; */
  display: flex;

  font-family: Verdana;
  font-size:   14px;
  font-weight: bold;

  top: 0;
  left: 0;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid black;
}

header img {
  /* border:  1px solid blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30px;
}

header #title {
  /* border:    1px solid green; */
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  color:  MediumAquamarine;
}

header nav {
  /* border:  1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-left:  10px;
  width: 200px;
}

header nav a {
  display: inline-block;
  padding: 0 5px;
}



/* content's styles */

#maincontainer {
  display: flex;
  justify-content: center;

  font-family: Georgia;
  font-size: 17px;
  color: black;
}


#container {
  border:  1px solid red;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding-top:   40px;
  padding-right: 40px;

  position: relative;
  top: 53px;
}

.column.large {
  border:  1px solid blue;
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column.medium {
  border:  1px solid blue;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.column.small {
  border:  1px solid blue;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.imgtxt {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.maintxt {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
